<ul id="post-comments-{{ post.pk }}">
    {% for comment in post.comments.all %}
    <li>{{ comment.content }}</li>
    <form action="{% url 'post:comment_delete' comment_pk=comment.pk %}?next=/post/#post-comments-{{ post.pk }}"
          method="POST">
        {% csrf_token %}
        <button class="btn-primary">삭제</button>
    </form>
    {% endfor %}
</ul>
<form action="{% url 'post:comment_create' post_pk=post.pk %}?next=/post/#post-comments-{{ post.pk }}" method="POST">
    {% csrf_token %}
    {{ comment_form }}
    <button class="btn-primary btn btn-block">Write</button>
</form>