{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Instagram</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
</head>
<body>
<div class="container">
    <header>
        <h1>Instagram</h1>
        <p>
            {% if user.is_authenticated %}
            {{ user.username }}
            {% else %}
            로그인 해주세요.
            {% endif %}
        </p>
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">로그아웃</a>
        {% else %}
        <a href="{% url 'login' %}">로그인</a> / <a href="{% url 'signup' %}">회원가입</a>
        {% endif %}
    </header>
    {% block content %}
    {% endblock %}
</div>
</body>
</html>