<!--{% extends 'base.html' %}-->

<!--{% block content %}-->
<!--<div id="post-{{ post.pk }}" class="panel panel-default post">-->
    <!--{% for post in posts %}-->
    <!--<div class="panel-heading">-->
        <!--<span>{{ post.author.username }}</span>-->
    <!--</div>-->
    <!--<div class="panel-body">-->
        <!--<a href="{% url 'post:post_detail' post_pk=post.pk %}">-->
            <!--<img src="{{ post.photo.url }}" alt="">-->
        <!--</a>-->
    <!--</div>-->

    <!--{% include 'include/panel.html' %}-->

    <!--{% endfor %}-->
<!--</div>-->
<!--{% endblock %}-->

<!--{% extends 'base.html' %}-->

<!--{% block content %}-->
<!--<div>-->
    <!--{% if post.photo %}-->
    <!--<p>{{ post.author.username }}</p>-->
    <!--<form action="{% url 'post:post_delete' post_pk=post.pk %}" method="POST">-->
        <!--{% csrf_token %}-->
        <!--<button class="btn-primary">삭제</button>-->
    <!--</form>-->
    <!--<img src="{{ post.photo.url }}" alt="">-->
    <!--{% else %}-->
    <!--<h3>No image file exist</h3>-->
    <!--{% endif %}-->

    <!--{% include 'include/panel.html' %}-->
<!--</div>-->
<!--{% endblock %}-->