{% extends 'base.html' %}

{% block content %}
<h2>Login</h2>

<!--폼 errors 확인-->
{% if form.errors %}
<p style="color: red">아이디와 비밀번호를 확인해 주세요</p>
{% endif %}

<!--login 폼-->
<form action="{% url 'member:login' %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary btn-block">로그인</button>
</form>
<a href="https://www.facebook.com/v2.10/dialog/oauth?
client_id={{ facebook_app_id }}&
redirect_uri={{ request.scheme }}://{{ request.META.HTTP_HOST}}{% url 'member:facebook_login' %}" class="btn btn-info btn-block">페이스북 로그인</a>
{% endblock %}